<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lemon95.lemonvideolib"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="22" />

    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.FLAG_ACTIVITY_NEW_TASK" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- renren sso Permission for Unit Test -->
    <!-- QQ、QQ空间所需权限 -->
    <uses-permission android:name="android.permission.SET_DEBUG_APP" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />

    <application
        android:allowBackup="true"
        android:supportsRtl="true" >

        <meta-data android:name="LEMON_APPKEY" android:value="应用key" />
        <meta-data android:name="UMENG_CHANNEL" android:value="渠道key" />
        <meta-data android:name="LEMON_PLAYKEY" android:value="4JRKyMthe" />
        <meta-data android:name="UMENG_APPKEY" android:value="57958b17e0f55adb4e000711" />
        <meta-data android:name="UMENG_MESSAGE_SECRET" android:value="e50c78a878514b7fcc4c2779814b5764" />
        <meta-data android:name="CIBN_PLAYER_APPKEY" android:value="ZDBhODU3ZWU1ZTg3" />

        <service
            android:name="com.starschina.push.StarschinaPlayerService"
            android:exported="true"
            android:process=":push" />

        <activity
            android:name="com.lemon95.lemonvideolib.MainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.lemon95.lemonvideolib.movie.view.VideoListActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="MOVIE_ACTION" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.lemon95.lemonvideolib.movie.view.VideosMainActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="VIDEO_MAIN_ACTION" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.lemon95.lemonvideolib.movie.view.VideoMoreActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="VIDEO_MORE_ACTION" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.lemon95.lemonvideolib.common.view.UrlActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="WEBVIEW_ACTION" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.lemon95.lemonvideolib.user.view.PurchaseActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <!-- 视频记录页 -->
                <action android:name="LOG_ACTION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.lemon95.lemonvideolib.user.view.ShareRecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.lemon95.lemonvideolib.login.AgreementActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.lemon95.lemonvideolib.user.view.ProblemActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.lemon95.lemonvideolib.customization.view.CustomMovieActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <!-- 私人定制 -->
                <action android:name="CUSTOM_ACTION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.lemon95.lemonvideolib.customization.view.CustomTipsActivity"
            android:screenOrientation="portrait" >
            <intent-filter>

                <!-- 定制提醒 -->
                <action android:name="CUSTOM_TIPS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.lemon95.lemonvideolib.customization.view.LoginPromptActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <!-- 登录 -->
                <action android:name="LOGIN_PROMPT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.lemon95.lemonvideolib.customization.view.CustomRecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.lemon95.lemonvideolib.customization.view.ConfirmAgainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.lemon95.lemonvideolib.customization.view.SearchContentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.lemon95.lemonvideolib.customization.view.MyCustomRecordActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.lemon95.lemonvideolib.special.view.SpecialActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="SPECIAL_ACTION" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.lemon95.lemonvideolib.characteristic.view.SpecialDetailsActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="SPECIAL_DTAILS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.lemon95.lemonvideolib.special.view.CameraActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="SPECIAL_VIDEO_ACTION" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.lemon95.lemonvideolib.livetv.view.ChannelMainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="LIVE_ACTION" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.lemon95.lemonvideolib.livetv.view.LemonVideoActivity"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.lemon95.lemonvideolib.movie.view.MovieDetailActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppVideoStyle" >
            <intent-filter>
                <action android:name="MOVIEDETAIL_ACTION" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.lemon95.lemonvideolib.movie.view.SerialsDetailActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppVideoStyle" >
            <intent-filter>
                <action android:name="SERIALDETAIL_ACTION" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.lemon95.lemonvideolib.special.view.VideoPlayActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateAlwaysHidden" >
            <intent-filter>
                <action android:name="PLAY_WUYE_ACTION" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.lemon95.lemonvideolib.special.view.SpecialFromActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.lemon95.lemonvideolib.special.view.SpecialListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.lemon95.lemonvideolib.user.view.FeedBackActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.lemon95.lemonvideolib.user.view.StatementActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.lemon95.lemonvideolib.characteristic.view.SpecialActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="PLAY_CHARACTER_ACTION" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.lemon95.lemonvideolib.movie.view.SearchActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.lemon95.lemonvideolib.login.ForgetActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.lemon95.lemonvideolib.user.view.SettingActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>